@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color Variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark Mode Color Variables */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Global body styles */
body {
  background-color: var(--background);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}